:root {
  --accent-color: #2196f3;
  --page-main-text-color: #212121;
  --secondary-text-color: #757575;
  --section-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --button-text-color: #212121;
  --active-button-text-color: #ffffff;
  --section-title-text-color: #212121;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 1200px) {
  .space-between__footer {
    display: flex;
    justify-content: space-between;
  }
}

.space-between__header {
  display: flex;
  justify-content: space-between;
}

html {
  box-sizing: border-box;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  cursor: default;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--page-main-text-color);
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: center;
  color: var(--section-title-text-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    font-family: inherit;
    letter-spacing: inherit;
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button__filter--indent {
  display: block;
}

@media screen and (max-width: 767px) {
  .button__filter--indent {
    margin-bottom: 15px;
  }
}

.button__wide--blue {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}

.button__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: unset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--cubic-bezier);
}

.button__close:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.form__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  font-family: inherit;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid border;
  transition: border 250ms var(--cubic-bezier);
}

.form__input:focus {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.form__input:focus ~ .input__icon {
  fill: var(--accent-color);
}

.form__input-wraper {
  position: relative;
}

.input__icon {
  position: absolute;
  top: 0;
  left: 12px;
  fill: var(--button-text-color);
  transition: fill 250ms var(--cubic-bezier);
}

.form__comment {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  font-family: inherit;
  letter-spacing: 0.01em;
  transition: border 250ms var(--cubic-bezier);
}

.form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  font-family: inherit;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__policy-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__checkbox:checked + .form__policy-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.form__policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: center;
  color: var(--secondary-text-color);
}

.form__policy-text::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid var(--button-text-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .form__policy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-family: inherit;
    letter-spacing: inherit;
  }
}

.modal-window__btn--position {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
}

.form__policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  font-family: "Raleway";
  letter-spacing: 0.03;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    font-family: "Raleway";
    letter-spacing: 0.03;
  }
}

.logo--indents {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo--indents {
    padding: 26px 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--indents {
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.logo--color {
  color: #000000;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link-icon {
  transition: fill 250ms var(--cubic-bezier);
  transition: background-color 2600ms var(--cubic-bezier);
}

.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-bezier);
}

.socials__link:hover, .socials__link:focus,
.socials__link:hover .socials__link-icon,
.socials__link:focus .socials__link-icon {
  fill: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.address a {
  cursor: pointer;
}

.address__list {
  margin-top: 20px;
}

.address__item-wrap {
  display: block;
  width: 231px;
  height: 21px;
}

.address__item-wrap:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .address__item-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

.addres__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-family: inherit;
  letter-spacing: inherit;
}

.address__mail-tel {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    flex-direction: column;
  }
}

.subscribe__input-email {
  width: 100%;
  background: transparent;
  border: none;
  padding: 15px 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms var(--cubic-bezier);
}

.subscribe__input-email:focus {
  outline: none;
}

@media screen and (min-width: 480px) {
  .subscribe__input-email {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__input-email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input-email {
    width: 348px;
    margin-right: 12px;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.subscribe__btn-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .backdrop {
    padding: 94px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 100%;
  max-height: 100%;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: scroll;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.button__close--position {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-window__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: center;
  color: var(--page-main-text-color);
}

@media screen and (min-width: 480px) {
  .modal-window__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    font-family: inherit;
    letter-spacing: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    font-family: inherit;
    letter-spacing: inherit;
  }
}

.page-header {
  box-sizing: inherit;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
}

.nav a {
  cursor: pointer;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
  letter-spacing: 0.02em;
  color: var(--page-main-text-color);
  transition: color 250ms var(--cubic-bezier);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__mobile-menu--btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
}

.nav__mobile-menu--btn:hover, .nav__mobile-menu--btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .nav__mobile-menu--btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #ffffff;
  overflow: scroll;
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  position: relative;
  padding: 10px 15px 48px 40px;
  height: 100vh;
  min-height: 480px;
}

.mobile-menu__btn-close {
  width: 32px;
  height: 32px;
  padding: 0;
  display: block;
  margin-left: auto;
  border: none;
  background-color: unset;
}

.mobile-menu__btn-close:hover, .mobile-menu__btn-close:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu__btn-close {
    width: 40px;
    height: 40px;
  }
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.175;
  font-family: inherit;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) and (min-height: 480px) {
  .mobile-menu__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    font-family: inherit;
    letter-spacing: 0.02em;
  }
}

.mobile-menu__main-link {
  color: var(--button-text-color);
}

.mobile-menu__main-link.current-page {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  position: absolute;
  bottom: 48px;
}

.mobile-menu__contact {
  display: block;
}

.mobile-menu__contact--tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.1;
  font-family: inherit;
  letter-spacing: 0.02em;
}

.mobile-menu__contact--tel a {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) and (min-height: 480px) {
  .mobile-menu__contact--tel {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.18;
    font-family: inherit;
    letter-spacing: 0.02em;
  }
}

.mobile-menu__contact--mail {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  font-family: inherit;
  letter-spacing: 0.02em;
}

.mobile-menu__contact--mail a {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 480px) and (min-height: 480px) {
  .mobile-menu__contact--mail {
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    font-family: inherit;
    letter-spacing: 0.02em;
  }
}

.mobile-menu__socials {
  display: flex;
}

.mobile-menu__socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  font-family: inherit;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) and (min-height: 480px) {
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    font-family: inherit;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contact-info {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info__link + .contact-info__link {
    margin-left: 50px;
  }
}

.contact-info__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  cursor: pointer;
  fill: var(--secondary-text-color);
  transition: color 250ms var(--cubic-bezier);
}

.contact-info__link:hover, .contact-info__link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.contact-info__link:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contact-info__link {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info__link {
    padding: 32px 0;
  }
  .contact-info__link:first-child {
    margin-bottom: 0;
  }
}

.contact-info__item {
  margin-right: 10px;
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-color: #c4c4c4;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__overlay {
  min-width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pexel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero__overlay {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg@2x.jpg");
  }
}

.hero__title {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  font-family: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.14;
    font-family: inherit;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    font-family: inherit;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.icon-antenna::before {
  background-image: url("../images/icons/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/icons/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/icons/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icons/astronaut.svg");
}

.features__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__item-title {
    text-align: left;
  }
}

.features__item-text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-family: inherit;
  letter-spacing: inherit;
  color: var(--secondary-text-color);
}

.about__top-indent {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .about__top-indent {
    display: none;
  }
}

.about__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__wraper {
  position: relative;
  display: flex;
}

.about__wraper img {
  border: none;
}

.about__overlay-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list,
  .team__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team__item-description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__item-description > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  font-family: inherit;
  letter-spacing: inherit;
  margin-bottom: 10px;
}

.team__item-description > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  font-family: inherit;
  letter-spacing: inherit;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .team__item-description {
    padding-bottom: 30px;
  }
  .team__item-description > h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    font-family: inherit;
    letter-spacing: inherit;
  }
  .team__item-description > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    font-family: inherit;
    letter-spacing: inherit;
    color: var(--secondary-text-color);
  }
}

.team__pos-descr {
  padding-bottom: 16px;
}

.team__socials {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__socials-icon--bg {
  background-color: #ffffff;
}

.team__socials-icon--fill {
  fill: #afb1b8;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% - 4 * 15px) / 2);
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms var(--cubic-bezier);
}

.client__link:hover, .client__link:focus,
.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);
}

.footer {
  padding: 60px 0;
  background-color: var(--section-bg-color);
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
    margin-left: 0;
  }
}

.logo__footer {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__social {
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
  }
}

.footer__block-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 767px) {
  .footer__block-title {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__block-title {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-social-list {
    justify-content: center;
    align-content: center;
  }
}

.footer__socials-icon--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__socials-icon--fill {
  fill: #ffffff;
}

.footer__768-wraper {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__768-wraper {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__768-wraper {
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.button-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.button-list li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.portfolio-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    width: 768px;
    margin: -15px;
    justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    width: 1200px;
    margin: -15px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--cubic-bezier);
  display: flex;
  flex-direction: column;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.item-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms var(--cubic-bezier);
}

.text-prop {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  font-family: inherit;
  letter-spacing: inherit;
  color: #ffffff;
}

.item-description {
  border-bottom: none;
}

.item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}

.item-text h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  font-family: inherit;
  letter-spacing: 0.06em;
}

.item-text a {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  letter-spacing: inherit;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */