.footer {
  padding: 60px 0;
  background-color: var(--section-bg-color);
}

.footer__address {
  margin-bottom: 60px;


  @media screen and (min-width: 768px) {
    margin-left: 60px;    
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.logo__footer {
  color: #ffffff;
}

.footer__social {
  // margin-right: 93px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 60px;
  }

  
}

.footer__block-title {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

  @include font-face($fw: 700);
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-top: 0;
  }
  
}

.footer-social-list {
  display: flex;


  @media screen and (max-width: 1199px) {
    justify-content: center;
    align-content: center;

    margin-bottom: 60px;
  }  
}

.footer__socials-icon--bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__socials-icon--fill {
  fill: #ffffff;
}


.footer__768-wrap{
  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }  

  @media screen and (min-width: 1200px) {
    
    // display: inline-block;
    justify-content: flex-start;
  }
}

.footer__form-input--wrap{
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}