.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 999;
  background-color: #ffffff;

  overflow: scroll;
}

.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {  
  position: relative;
  padding: 10px 15px 48px 40px;
  height: 100vh;
  min-height: 480px;  
}

.mobile-menu__btn-close {
  width: 32px;
  height: 32px;
  padding: 0;
  display: block;
  margin-left: auto;
  border: none;
  background-color: unset;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 480px) {
    width: 40px;
    height: 40px;
  }
}

.mobile-menu__item {
  &:not(:last-child) {
   margin-bottom: 32px;
  }
  
  @include font-face($fw: 500, $fs: 28px, $lh: 1.175, $ls: 0.02em);
  
  @media screen and (min-width: 480px) and (min-height: 480px){
    @include font-face($fw: 500, $fs: 40px, $lh: 1.175, $ls: 0.02em);
  }
}

.mobile-menu__main-link {
  color: var(--button-text-color);

  &.current-page {
    color: var(--accent-color);
  }
}

.mobile-menu__contacts {
  position: absolute;
  bottom: 48px;
}

.mobile-menu__contact {
  display: block;
}

.mobile-menu__contact--tel {
  margin-bottom: 32px;
  @include font-face($fw: 500, $fs: 28px, $lh: 1.1, $ls: 0.02em);
  & a {
    color: var(--accent-color);
  }

  @media screen and (min-width: 480px) and (min-height: 480px){
    @include font-face($fw: 500, $fs: 30px, $lh: 1.18, $ls: 0.02em);
  }  
}

.mobile-menu__contact--mail {
  margin-bottom: 64px;

  @include font-face($fw: 500, $fs: 18px, $lh: 1.1, $ls: 0.02em);
  & a {
    color: var(--secondary-text-color);
  }

  @media screen and (min-width: 480px) and (min-height: 480px){
    margin-bottom: 64px;
    @include font-face($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
  }  
}

.mobile-menu__socials {
  display: flex;
}

.mobile-menu__socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-link {
  @include font-face($fw: 500, $fs: 12px, $lh: 1.1, $ls: 0.01em);
  color: var(--accent-color);

  @media screen and (min-width: 480px) and (min-height: 480px){
    @include font-face($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
  }  
}
