.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 90%;
  min-height: 609px;
  padding: 20px;
  padding-top: 40px;

  overflow: scroll;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    min-width: 450px;
    min-height: 609px;
    padding: 40px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.button__close--position {
  position: absolute;
  right: 8px;
  top: 8px;
}
