.nav {
  display: flex;
  & a {
    cursor: pointer;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  padding: 32px 0;
  @include font-face($fw: 500, $ls: 0.02em);
  color: var(--page-main-text-color);
  transition: color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  color: var(--accent-color);
  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.nav__mobile-menu--btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
