.team {
    background-color: #f5f4fa;
    text-align: center;
}

.team__list,
.team__socials {
    @media screen and (min-width: 768px) {
        @include flex-center();
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    width: 100%; 
   
    @media screen and (max-width: 767px) {
            &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
    }
}

.team__item-description {
    padding-top: 30px;
    padding-bottom: 24px;
    &>h3 {
        @include font-face($fw: 500, $fs: 16px, $lh: 1.2);
        margin-bottom: 10px;
    }
    &>p {
        @include font-face($fs: 16px, $lh: 1.2);
        color: var(--secondary-text-color);
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
        &>h3 {
            @include font-face($fw: 500, $fs: 16px, $lh: 1.9);            
        }
        &>p {
            @include font-face($fs: 16px, $lh: 1.8);
            color: var(--secondary-text-color);
        }
    }
}

.team__pos-descr {
    padding-bottom: 16px;
}

.team__socials {
    display: flex;
    @include flex-center();
}

.team__socials-icon--bg {
    background-color: #ffffff;
}

.team__socials-icon--fill {
    fill: #afb1b8;
}