.button {
  @include font-face(500, 16px, 1.62, ("Roboto", sans-serif), 0.03em);
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;

  text-align: center;

  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--active-button-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button__filter--indent {
  display: block;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.button__wide--blue {
  width: 200px;
  height: 50px;

  @include font-face($fw: 700, $fs: 16px, $lh: 1.87, $ls: 0.06em);
  color: #ffffff;
  background-color: var(--accent-color);
}

.button__close {
  @include flex-center();

  @include width-height(30px, 30px);

  border-radius: 50%;
  background-color: unset;
  @include bordered(rgba(0, 0, 0, 0.1));

  @include transition(fill);

  &:hover {
    fill: var(--accent-color);
    cursor: pointer;
  }
}
