.container {
  max-width: 480px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $second-bp) {
    max-width: 768px;
  }

  @media screen and (min-width: $third-bp) {
    max-width: 1200px;
  }
}
