.space-between__footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.space-between__header{  
    display: flex;
    justify-content: space-between;
  }


  
  