:root {
  --accent-color: #2196f3;
  --page-main-text-color: #212121;
  --secondary-text-color: #757575;
  --section-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --button-text-color: #212121;
  --active-button-text-color: #ffffff;
  --section-title-text-color: #212121;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

$first-bp: 480px;
$second-bp: 768px;
$third-bp: 1200px;
